<app-page-header [title]="'tasks' | translate"></app-page-header>
<div class="my-4">
  <app-search-bar [placeholder]="'search' | translate"
    (onSearchValueChange)="onSearchTextChange($event)" (onClickSearch)="getTasksList(rows ,1)"></app-search-bar>

</div>
 <div class="form-row">
  <div class="form-group">

  </div>
    <div class="form-group mt-100">
      <label class="required-element" for="clasificationNumber">{{'status' | translate}}</label>
      <p-dropdown
        class="dropdown"
        styleClass="w-full"
        [options]="status_list"
        [(ngModel)]="selected_status"
        optionValue="id"
        optionLabel="text"
        [showClear]="true"
        appendTo="body"
        (onChange)="getTasksList(rows , 1)"
        id="status"
        name="status"
        aria-label="status"
      ></p-dropdown>
    </div>

  </div>
<div class="table-container container max-w-full mx-auto mb-20 overflow-x-auto">
  <app-table [dataSource]="tasks" [columns]="columns" [actions]="actions"></app-table>
  <p-paginator 
  (onPageChange)="onPageChange($event)" 
  [first]="first"
  [rows]="rows" 
  [totalRecords]="totalCount()" 
  [rowsPerPageOptions]="[10, 20, 30]" />
</div>