<section class="auth">
  <h1 class="sm:text-5xl text-2xl font-shamel text-primary mb-16">فوترة</h1>
  <div class="auth__form-wrapper">
    <div class="auth__form">
      <form novalidate [formGroup]="forgotPassword" (ngSubmit)="onLogin()" autocomplete="new-password">
        <h2 class="auth__form-title font-black !font-frutiger">Forgot your password?</h2>
        <p class="auth__form-subtitle">
          Don’t worry, happens to all of us. Enter your email
          below to recover your password
        </p>
        @if(forgotPasswordError) {
        <div class="alert alert-danger">{{ forgotPasswordError }}</div>
        }
        <div class="mb-5 sm:mb-8">
          <label for="email" class="auth__form-label !font-neo">Email</label>
          <input type="text" id="email" class="auth__form-input" formControlName="email" autocomplete="new-password" />
          <app-form-error [inputFormControl]="email" [errorMessages]="errorMessages.email"></app-form-error>
        </div>

        <div class="auth__form-footer">
          <p-button type="submit" styleClass="auth__submit-btn" [disabled]="forgotPassword.invalid">
            Submit
          </p-button>
        </div>
      </form>
    </div>
  </div>
</section>