<div class="flex items-center justify-end">
  <label class="font-neo me-3" for="ststusInput">{{
    rowData.status ? ("active" | translate) : ("not-active" | translate)
  }}</label>
  <app-can action="Edit" resource="ExcavationType">
    <div
      class="flex items-center justify-end gap-2 cursor-pointer"
      (click)="openModal($event)"
    >
      <p-inputSwitch
        styleClass="h-[1.75rem]"
        inputId="ststusInput"
        [(ngModel)]="rowData.status"
        [disabled]="true"
      ></p-inputSwitch>
    </div>
  </app-can>
</div>
