<div class="flex flex-wrap mt-8">
  <app-can action="List"  resource="Activities">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/activities">
      <img src="assets/images/icons/copy-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'activities' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="FinancialItems">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/financials">
      <img src="assets/images/icons/money-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'financials' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="Gfs">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/economic-classifications">
      <img src="assets/images/icons/chart-line-up-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'economic-classifications' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="Municipals">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/municipalities">
      <img src="assets/images/icons/bank-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'municipalities' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="PermitType">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/permit-types">
      <img src="assets/images/icons/copy-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'permit-types' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="ExcavationType">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/excavation/excavation-types">
      <img src="assets/images/icons/copy-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'excavation-types' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="ExcavationPathType">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/excavation/excavation-path-types">
      <img src="assets/images/icons/copy-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'excavation-path-types' | translate}}</span>
    </a>
  </app-can>
  <app-can action="List"  resource="PermitConfigration">
    <a class="link-card me-7 mt-7" routerLink="/dashboard/financials-pemits">
      <img src="assets/images/icons/copy-icon.svg" alt="copy icon" />
      <span class="link-card__text">{{'financials-pemits' | translate}}</span>
    </a>
  </app-can>
</div>