<app-payment></app-payment>

<div class="mx-3 font-neo mt-6">
  <h1>{{ 'sadad.title' | translate }}</h1>
  <h1>{{ 'sadad.billing_details_title' | translate }}</h1>
  <table class="invoice-table">
      <tr>
          <th>{{ 'sadad.invoice_number_label' | translate }}</th>
          <td>{{ billNumber }}</td>
      </tr>
      <tr>
          <th>{{ 'sadad.biller_code_label' | translate }}</th>
          <td>400</td>
      </tr>
  </table>

  <h1>{{ 'sadad.payment_instructions_title' | translate }}</h1>
  <div class="payment-methods  mx-4">
      <div class="method">
          <h2>{{ 'sadad.atm_title' | translate }}</h2>
          <ol>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i> {{ 'sadad.atm_step_1' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i> {{ 'sadad.atm_step_2' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i> {{ 'sadad.atm_step_3' | translate }}</li>
          </ol>
      </div>
      <div class="method">
          <h2>{{ 'sadad.phone_banking_title' | translate }}</h2>
          <ol>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i>{{ 'sadad.phone_banking_step_1' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i>{{ 'sadad.phone_banking_step_2' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i>{{ 'sadad.phone_banking_step_3' | translate }}</li>
          </ol>
      </div>
      <div class="method">
          <h2>{{ 'sadad.online_banking_title' | translate }}</h2>
          <ol>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i>{{ 'sadad.online_banking_step_1' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i>{{ 'sadad.online_banking_step_2' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i>{{ 'sadad.online_banking_step_3' | translate }}</li>
          </ol>
      </div>
      <div class="method">
          <h2>{{ 'sadad.mobile_app_title' | translate }}</h2>
          <ol>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i> {{ 'sadad.mobile_app_step_1' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i> {{ 'sadad.mobile_app_step_2' | translate }}</li>
              <li><i class="pi pi-chevron-circle-up me-2" style="font-size: 1rem"></i> {{ 'sadad.mobile_app_step_3' | translate }}</li>
          </ol>
      </div>
  </div>
  <div class="flex justify-center mb-4">
      <p-button styleClass="submit-btn mt-[40px]" (onClick)="backtoPrvious()"  type="submit" >{{'back' | translate}}</p-button>
  </div>
</div>
