<p-sidebar class="sidebar" [(visible)]="sidebarState" [showCloseIcon]="showCloseIcon" [modal]="false"
  (onHide)="onSideBarHide()" [position]="position">
  <ul class="sidebar__menu">
   
    <li class="sidebar__menu-item">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"(click)="onSideBarItemClick()">
        <img src="assets/images/icons/graph.svg" alt="" />
        <span>{{'home' | translate}}</span>
      </a>
    </li>
    
    <app-can action="View" resource="Transactions">
      <li class="sidebar__menu-item">
        <a routerLink="/dashboard/transactions" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
          <img src="assets/images/icons/pencil.svg" alt="" />
          <span>{{'transactions' | translate}}</span>
        </a>
      </li>
    </app-can>
    <app-can action="List" resource="MainDataManagment">
      <li class="sidebar__menu-item">
        <a routerLink="/dashboard/main-data-managment" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
          <img src="assets/images/icons/database.svg" alt="" />
          <!-- <span>إدارة البيانات الرئيسية</span> -->
          <span>{{'main-data-managment' | translate}}</span>
        </a>
      </li>
    </app-can>
    <app-can action="List" resource="Users">
      <li class="sidebar__menu-item">
        <a routerLink="/dashboard/user-managment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
          <img src="assets/images/icons/user_gear.svg" alt="" />
          <!-- <span>إدارة المستخدمين</span> -->
          <span>{{'user-managment' | translate}}</span>

        </a>
      </li>
    </app-can>
    <app-can action="View" resource="Features">
    <li class="sidebar__menu-item">
      <a routerLink="/dashboard/features" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
        <img src="assets/images/icons/features.svg" alt="" />
        <span>{{'features' | translate}}</span>
      </a>
    </li>
    </app-can>
    <app-can action="Read" resource="BillInquiry">
      <li class="sidebar__menu-item">
        <a routerLink="/dashboard/queries" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
          <img src="assets/images/icons/magnifying_glass.svg" alt="" />
          <span>{{'queries' | translate}}</span>
        </a>
      </li>
    </app-can>
    <app-can action="View" resource="Reports" >
    <li class="sidebar__menu-item">
      <a routerLink="/dashboard/reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
        <img src="assets/images/icons/chart.svg" alt="" />
        <!-- <span>التقارير</span> -->
        <span>{{'reports' | translate}}</span>
      </a>
    </li>
    </app-can>
    <app-can action="List" resource="Roles">
      <li class="sidebar__menu-item">
        <a routerLink="/dashboard/roles-management" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="onSideBarItemClick()">
          <img src="assets/images/icons/gear.svg" alt="" />
          <!-- <span>ادارة الصلاحيات</span> -->
          <span>{{'roles-management' | translate}}</span>
        </a>
      </li>
    </app-can>


    <!-- <li class="sidebar__menu-item">
      <a
        routerLink="#"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <img src="assets/images/icons/gear.svg" alt="" />
        <span>الإعدادات</span>
      </a>
    </li> -->
  </ul>
</p-sidebar>