<app-page-header [title]="'financials-pemits' | translate">
  <app-create-financials-permits left-content></app-create-financials-permits>

</app-page-header>

<div class="my-4">
  <app-search-bar
    [placeholder]="'search' | translate"
    (onSearchValueChange)="onSearchTextChange($event)"
  ></app-search-bar>
</div>
<div class="table-container container max-w-full mx-auto mb-20 overflow-x-auto">
  <app-table
    [dataSource]="financialsPermits"
    [columns]="columns"
    [actions]="actions"
  ></app-table>
@if (financialsPermits.length > 0) {
  <p-paginator 
  (onPageChange)="onPageChange($event)" 
  [first]="first"
  [rows]="rows" 
  [totalRecords]="totalCount()" 
  [rowsPerPageOptions]="[10, 20, 30]" />
}
</div>
