.lang-area {
    @apply bg-[#8bc0999e] border-0 pe-0 p-0 rounded-full;

    .p-button {
      @apply bg-transparent border-0;
    }

    #lang-label {
      // position: relative;
      // right: -3px;
      // height: auto;
      // width: 0px;
      transition: all 1s;
    }

    #lang-icon:hover+#lang-label {
      display: inline;
      // height: 37.7px;
      // width: 37.7px;
    }
  }

 ::ng-deep {
    .lang-area {

        .p-button {
    background-color: transparent;
    border: 0px;
        }
    }
    .p-button.p-button-icon-only.p-button-rounded {
        // border-radius: 50%;
         height: inherit !important; 
           }
 } 