.mt-100 {
    margin-top: -90px;
}
::ng-deep {
    .form-group .p-inputtext {
        padding-top:10px ;
        padding-bottom: 10px;
    }
}

.d-flex {
    display: flex;
    justify-content: space-between;   
    align-items: center;   
  }
  
//   .d-flex > div {
//     margin-right: 20px;  
//   }
  
 
  .p-dropdown {
    min-width: 20rem;   
    overflow: hidden;
    max-width: 25rem;
    text-overflow: ellipsis
  }
  
  ::ng-deep app-search-bar {
    display: block;
  }
  
  ::ng-deep app-search-bar .search-bar {
    width: 100%; 
  }
  
//   ::ng-deep app-search-bar .some-specific-class {
//     width: 100%;  
//   }
.custom-label {
    font-family: 'Neo Sans Arabic', sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(75, 79, 84);
    display:  block;
  }
  
  
//   ::ng-deep #finItems .p-dropdown-label {
//     // white-space: nowrap;
//     // overflow: hidden;
//     text-overflow: ellipsis;
//     // max-width: 35rem;
//     // min-width: 20rem;
//     width: 100% !important;
//     padding-right: 0.5rem;

//   }

//   ::ng-deep #finItems .p-dropdown {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     // max-width: 35rem;
//     max-width: 35rem;
//     // min-width: 20rem;
//     // max-width: inherit;
//     width: 100% ;
//     box-sizing: border-box;
//    }
 
// @media (max-width: 640px) {
//    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
//       font-size: 0.9rem; /* Smaller font size for mobile */
//       min-height: 3rem; /* Adjust minimum height for better spacing */
//   }

::ng-deep #outerFinItemDiv{
  max-width: 35rem;
  width: 100%;

 }
 ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  white-space: normal !important;  
  overflow-wrap: break-word;  
  line-height: 1.2rem;  
  padding: 0.5rem 1rem;  
  min-height: 3rem;
}

 ::ng-deep #finItems .p-dropdown {
  max-width: 35rem;  
  width: 100%;  
  box-sizing: border-box;  
 }

 ::ng-deep .p-dropdown-panel {
  width: 100% !important;  
  max-width: 35rem;  
 
}

/*mobile */
@media (max-width: 640px) {
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      font-size: 0.9rem;  
      min-height: 3rem;  
  }

}