
<app-page-header [title]="'quality-missions' | translate"></app-page-header>
<div class="my-4">
  <div class="d-flex flex-wrap justify-content-between align-items-center gap-3">
    <div class="flex-item flex-grow"  >
      <app-search-bar class="w-full" [placeholder]="'search' | translate"  
      (onSearchValueChange)="onSearchTextChange($event)" (onClickSearch)="getQualityList(rows ,1)"></app-search-bar>
    </div>
    <div class="flex-item flex-grow"  > 
      <app-search-bar class="w-full" [placeholder]="'company-name' | translate"  
      (onSearchValueChange)="onSearchObjectorNameChange($event)" (onClickSearch)="getQualityList(rows ,1)"></app-search-bar>
    </div>
  </div>
    <div class="w-full d-flex flex-wrap justify-content-between align-items-center gap-3">

      <div class="flex-item flex-grow" id="outerFinItemDiv" >
        <label class="custom-label" for="finItems">{{'List_FinancialItems' | translate}}</label>        
        <p-dropdown
          class="dropdown"
          styleClass="max-w-full"
          [options]="financialItems"
          [(ngModel)]="selected_finItem"
          optionValue="id"
          optionLabel="name"
          [showClear]="true"
          appendTo="body"
          [filter]="true"
          filterBy="name" 
          (onChange)="getQualityList(rows , 1)"
          id="finItems"
          name="finItems"
          aria-label="finItems"
          
        >
        <!-- <ng-template let-item pTemplate="item">
          <div>{{ item.name }}</div> 
        </ng-template> -->
      </p-dropdown> 
      </div>
      @if(checkIsvisible()){ 
      <div class="flex-item flex-grow">
        <label class="custom-label" for="clasificationNumber">{{'status' | translate}}</label>
        <p-dropdown
        class="dropdown"
        styleClass="w-full"
        [options]="status_list"
        [(ngModel)]="selected_status"
        optionValue="id"
        optionLabel="text"
        [showClear]="true"
        appendTo="body"
        (onChange)="getQualityList(rows , 1)"
        id="status"
        name="status"
        aria-label="status"
        ></p-dropdown>
      </div>
      }
      <div class="flex-item flex-grow" >
        <label class="custom-label" for="voteStatus">{{'vote-status' | translate}}</label>
        <p-dropdown
          class="dropdown"
          styleClass="w-full"
          [options]="vote_status_list"
          [(ngModel)]="selected_vote_status"
          optionValue="id"
          optionLabel="text"
          [showClear]="true"
          appendTo="body"
          (onChange)="getQualityList(rows , 1)"
          id="voteStatus"
          name="voteStatus"
          aria-label="voteStatus"
        ></p-dropdown> 
      </div>
      
    </div>
  </div>
<div class="table-container container max-w-full mx-auto mb-20 overflow-x-auto">
  <app-table [dataSource]="requestsList" [columns]="columns" [actions]="actions">
  </app-table>
  <p-paginator 
  (onPageChange)="onPageChange($event)" 
  [first]="first"
  [rows]="rows" 
  [totalRecords]="totalCount()" 
  [rowsPerPageOptions]="[10, 20, 30]" />
</div>